<launch>
<arg name="debug" default="false"/>
<arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
<arg unless="$(arg debug)" name="launch_prefix" value=""/>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ttyUSB0"/>
<!--        <param name="baud" value="115200"/>-->
    </node>

    <node name="joints_angle" pkg="joints_angle" type="joints_angle" output ="screen" >
        <rosparam file="$(find joints_angle)/cfg/hand_config.yaml" command="load" />
    </node>

 </launch>
